/* Contact section */
.contact {
    background: var(--clr-purple);
}

.contact__parallax {
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url('../assets/img/contact-bg-parallax.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 169px 40px;
}

.contact__wrapper {
    padding: 60px 40px;
}

.contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__info .contact__text {
    margin: 10px 0 20px 0;
}

.contact__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 60px 0 0 0;
}

.contact__data {
    flex: 1;
    margin-right: 15px;
}

.contact__address {
    margin-left: 30px;
}

.contact__form {
    flex: 2;
    max-width: 548px;
}

.contact__inputs {
    display: flex;
    justify-content: space-between;
}

.contact__inputs input {
    max-width: 274px;
    width: 100%;
    background: var(--bg-input);
    border: none;
    border-radius: 3px;
    padding: 20px 0 20px 10px;
    box-sizing: border-box;
}

.contact__inputs input:not(:last-child) {
    margin-right: 19px;
}

.contact__textarea {
    margin-top: 19px;
}

.contact__textarea textarea{
    width: 100%;
    background: var(--bg-input);
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 20px 0 20px 10px;
    resize: none;
}

.contact__submit {
    display: inline-block;
    margin: 19px 0 0 0;
}

/* Contact media queries */
@media (max-width: 1024px) {
    .contact__address {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .contact__box {
        flex-direction: column;
        align-items: center;
    }

    .contact__data {
        margin: 0 0 30px 0;
    }

    .contact__form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .contact__inputs {
        flex-direction: column;
    }

    .contact__inputs input {
        max-width: 100%;
    }

    .contact__inputs input:not(:last-child) {
        margin: 0 0 19px 0;
    }

    .contact__submit {
        display: block;
        text-align: center;
    }
}