/* Header section */
.header {
    background: var(--clr-black);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.header__logo {
    font-size: 1.5rem;
    z-index: 2;
}

.header__logo a {
    color: var(--clr-white);
}

.header__menu {
    display: flex;
    position: relative;
    transition: opacity 250ms ease-in,
                transform 250ms ease-in;
    z-index: 999;
}

.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__link {
    display: flex;
    position: relative;
    font-size: 0.875rem;
    color: var(--clr-white);
    padding: 33px 0;
    transition: width 250ms ease-in,
                color 250ms ease-in-out;
}

.header__link:hover {
    color: var(--clr-red);
}

.header__link::before {
    position: absolute;
    content: '';
    background: var(--clr-white);
    bottom: 24px;
    left: 0;
    right: 0;
    width: 0;
    height: 1px;
    margin: auto;
    transition: width 250ms ease-in,
                opacity 250ms ease-in;
}

.header__link:hover::before {
    width: 100%;
}

.header__mobile {
    display: none;
    cursor: pointer;
}

.header__hamburger { /* Hamburger menu lines */
    display: block;
    background: var(--clr-white);
    width: 25px;
    height: 2px;
    border-radius: 5px;
    transform-origin: 0 0;
    transition: opacity 350ms ease-in,
                transform 250ms ease-in-out;
}

.header__hamburger:not(:last-child) {
    margin-bottom: 5px;
}

.header__mobile--active >.header__hamburger:first-child { /* Hamburger animation when clicked*/
    transform-origin: 2.5px 1px;
    transform: rotate(45deg);
}

.header__mobile--active >.header__hamburger:nth-child(2) { /* Hamburger animation when clicked*/
    opacity: 0;
    transform: translateX(-15px);
}

.header__mobile--active >.header__hamburger:last-child { /* Hamburger animation when clicked*/
    transform-origin: 2.5px 1px;
    transform: rotate(-45deg);
}


/* Header media queries */
@media (max-width: 768px) {
    .header__mobile {
        display: block;
    }

    .header__wrapper {
        padding: 28px 40px;
    }

    .header__menu { /* Remove nav menu from document flow */
        position: absolute;
        flex-direction: column;
        align-items: center;
        background: var(--clr-black);
        width: 100%;
        top: -1000px;
        left: 0;
        opacity: 0;
    }

    .header__menu.header__mobile--active { /* Bring back nav menu when hamburger is open*/
        top: 0;
        transform: translateY(80px);
        opacity: 1;
    }
    
    .header__item:not(:last-child) {
        margin: 0;
    }

    .header__link {
        padding: 20px 0;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .header__link::after {
        position: absolute;
        content: ">";
        top: 50%;
        transform: translateY(-50%);
        left: -25px;
        opacity: 0;
    }

    .header__link:hover::after {
        opacity: 1;
    }

    .header__link::before {
        bottom: 13px;
    }
}
