/* Kv section */
.kv {
    background: var(--bg-kv);
    margin-top: 80px;
}

.kv__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 100px 40px;
    z-index: 0;
}

.kv__overlay { 
    position: absolute;
    content: '';
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px 10px 0 0;
    box-shadow: -65px 27px 0px -27px var(--clr-purple--dark); /* Make frame for image */
    width: 70%;
    height: 90%;
    bottom: 0;
    left: 88px;
}

.kv__overlay::before { /* Connect box frame with overlay background with straight line in top-left corner */
    position: absolute;
    content: '';
    top: -1px;
    left: -38px;
    border-top: 56px solid transparent;
    border-bottom: 0px solid transparent; 
    border-right:44px solid var(--clr-purple--dark);
    z-index: -1;
}

.kv__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 350px;
    padding-right: 35px;
    z-index: 2;
}

.kv__text {
    margin: 26px 0 74px 0;
}

.kv__previewWrapper {
    position: relative;
    max-width: 460px;
    max-height: 345px;
    box-shadow: -20px 20px 0px 0px var(--clr-gray--light); /* Make frame for image */
    border-radius: 3px;
}

.kv__image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.kv__preview {
    z-index: 2;
}

.kv__previewWrapper::before { /* Connect box frame with image with straight line in top-left corner */
    position: absolute;
    content: '';
    top: 0px;
    left: -20px;
    border-top: 21px solid transparent;
    border-bottom: 0px solid transparent; 
    border-right:21px solid var(--clr-gray--light);
    z-index: -1;
}

.kv__previewWrapper::after { /* Connect box frame with image with straight line in bottom-right corner */
    position: absolute;
    content: '';
    bottom: -20px;
    right: 0px;
    border-top: 0px solid transparent;
    border-bottom: 22px solid transparent; 
    border-left: 22px solid var(--clr-gray--light);
    z-index: -1;
}

/* Kv media queries */
@media (max-width: 1024px) {
    .kv__preview {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .kv__overlay {
        display: none;
    }

    .kv__wrapper {
        flex-direction: column;
    }

    .kv__content {
        align-items: center;
        text-align: center;
        padding-right: 0;
    }

    .kv__text {
        margin: 26px 0 26px 0;
    }

    .kv__preview {
        margin-top: 52px;
    }

    .kv__previewWrapper {
        box-shadow: 0px 0px 0px 6px var(--clr-gray--light); /* Change box frame to surround whole box */
    }

    .kv__previewWrapper::after, /* Disable unnecessary pseudoelements */
    .kv__previewWrapper::before {
        display: none;
    }
}

@media (max-width: 480px) {
    .kv__content {
        min-width: 0;
    }
}