/* Variables */
:root {
    /* colors */
    --clr-white: #FFFFFF;
    --clr-black: #323232;
    --clr-red: #EA5B58;
    --clr-purple: #475A85;
    --clr-gray: #A7A7A7;
    --clr-gray--dark: #7B7B7B;
    --clr-gray--light: #63656E;
    /* bg-colors */
    --bg-kv: #161828;
    --bg-services: #475A85;
    --bg-contact: #475A85;
    --bg-footer: #161828;
    --bg-input: #EEEEEE;
}

/* Globals */
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--clr-white);
}

a {
    text-decoration: none;
    color: var(--clr-black);
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

/* Headings styles */
h1 {
    font-size: 3rem;
    font-weight: 700;
}
h2 {
    font-size: 2.25rem;
    font-weight: 700;
}

h3 {
    font-size: 1.875rem;
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

h5 {
    font-size: 1.125rem;
    font-weight: 700;
}

.h--black {
    color: var(--clr-black);
}
/* Text styles */
.text--big {
    font-size: 1.5rem;
}

.text {
    font-size: 1.125rem;
}

.text--small {
    font-size: 0.875rem;
}

.text--black {
    color: var(--clr-black);
}

.bold {
    font-weight: 700;
}

/* Buttons styles */
.cta {
    font-size: 1.125rem;
    background: var(--clr-red);
    color: var(--clr-white);
    padding: 15px 55px;
    border-radius: 3px;
    transition: color 250ms ease-in,
                background 250ms ease-in;
}

.cta:hover {
    color: var(--clr-black);
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) var(--clr-red);
}