/* Variables */
:root {
    /* colors */
    --clr-white: #FFFFFF;
    --clr-black: #323232;
    --clr-red: #EA5B58;
    --clr-purple: #475A85;
    --clr-purple--alpha: rgba(71, 90, 133, 0.9);
    --clr-purple--dark: #191B2A;
    --clr-gray: #A7A7A7;
    --clr-gray--dark: #7B7B7B;
    --clr-gray--light: #63656E;
    --clr-gray--lighter: #EBEBEB;
    /* bg-colors */
    --bg-kv: #161828;
    --bg-services: #475A85;
    --bg-contact: #475A85;
    --bg-footer: #161828;
    --bg-input: #EEEEEE;
}

/* Globals */
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--clr-white);
}

a {
    text-decoration: none;
    color: var(--clr-black);
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

/* Headings styles */
h1, h2, h3, h4, h5, h6 {
    transition: font-size 250ms ease-in;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}
h2 {
    font-size: 2.25rem;
    font-weight: 700;
}

h3 {
    font-size: 1.875rem;
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

h5 {
    font-size: 1.125rem;
    font-weight: 700;
}

.h--black {
    color: var(--clr-black);
}

/* Headings media queries */
@media (max-width: 480px) {
    h1 {
        font-size: 2.625rem;
    }
    h2 {
        font-size: 1.875rem;
    }
}
/* Text styles */
.text--big, .text, .text--small {
    transition: font-size 250ms ease-in;
}

.text--big {
    font-size: 1.5rem;
}

.text {
    font-size: 1.125rem;
    font-weight: 300;
}

.text--small {
    font-size: 0.875rem;
    line-height: 1.2;
}

.text--black {
    color: var(--clr-black);
}

.text--bold {
    font-weight: 700;
}

/* Text media queries */
@media (max-width: 480px) {
    .text--big {
        font-size: 1.125rem;
    }

    .text {
        font-size: 1rem;
    }
}

/* Buttons styles */
.cta {
    font-size: 1.125rem;
    background: var(--clr-red);
    color: var(--clr-white);
    padding: 15px 55px;
    border-radius: 3px;
    transition: color 250ms ease-in,
                background 250ms ease-in;
}

.cta--small {
    font-size: 0.6875rem;
    padding: 9px 30px;
}

.cta:hover {
    color: var(--clr-black);
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) var(--clr-red);
}

/* Separators */
.separator {
    position: relative;
    background: var(--clr-white);
    height: 1px;
    max-width: 280px;
    width: 100%;
}

.separator::before {
    position: absolute;
    content: '';
    background: var(--clr-white);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0;
    transform: translateY(-50%);
    left: 0;
}

.separator::after {
    position: absolute;
    content: '';
    background: var(--clr-white);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0;
    transform: translateY(-50%);
    right: 0;
}

.separator--black {
    background: var(--clr-black);
}

.separator--black.separator::before {
    background: var(--clr-black);
}

.separator--black.separator::after {
    background: var(--clr-black);
}