/* Services section */
.services {
    background: var(--bg-services);
}

.services__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px 90px 40px;
}

.services__features {
    display: flex;
    justify-content: space-between;
    margin: 140px 0 0 0;
    padding: 7px; 
}

.services__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 160px;
    text-align: center;
    margin: 7px;
}

.services__text {
    margin: 10px 0 20px 0;
}

/* Services media queries */
@media (max-width: 768px) {
    .services__features {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media (max-width: 480px) {
    .services__features {
        flex-direction: column;
        margin: 70px 0 0 0;
    }
}