/* Work section */
.work__wrapper {
    padding: 80px 40px;
}
/* Parallax */
.work__parallax {
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url('../assets/img/work-bg-parallax.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.work__parallax {
    margin: 0 auto;
    padding: 180px 40px;
    text-align: center;
}

.work__parallax .work__text {
    margin-top: 15px;
}

/* Portfolio */
.work__portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__portfolio .work__text {
    margin: 10px 0 20px 0;
}

.work__sort {
    margin: 60px 0 30px 0;
}

.work__sortLink {
    color: var(--clr-gray);
}

.work__gallery {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.work__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work__box {
    position: relative;
    margin: 15px;
    flex: 1 1 300px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
    
}

.work__boxLink:hover .work__desc {
    opacity: 1;
}

.work__box img {
    width: 100%;
    height: 100%;
}


.work__desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--clr-purple--alpha);
    text-align: center;
    color: var(--clr-white);
    top: 0;
    /* transform: translateY(-50%); */
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.work__desc .work__text {
    max-width: 280px;
}

.work__browse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__browse:hover .work__arrow {
    transform: scale(0.7);
}

.work__browse .work__text {
    margin: 0;
}

.work__arrow {
    transition: transform 250ms ease-in;
    margin-top: 10px;
}

/* Testimonials */
.work__testimonials {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 90px;
}

.work__testimonials .work__separator {
    margin: 0 auto;
}

.work__testimonials .work__text {
    margin: 10px 0 20px 0;
}

.work__references {
    margin-top: 60px;
}

.work__customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work__customer-image {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--clr-gray--lighter);
    margin-right: 20px;
}

.work__customer-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__customer-desc {
    flex: 1;
    line-height: 1.4;
    text-align: left;
    max-width: 850px;
}



/* Work media queries */
@media (max-width: 768px) {
    .work__row:last-child {
        display: none;
    }

    .work__box {
        flex: 1 1 200px;
    }
}